---
# Only the main Sass file needs front matter (the dashes are enough)
---

@charset "utf-8";

$serif              : "PT Serif", Georgia, Times, serif;
$sans-serif-narrow  : "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", "Lucida Grande", Arial, sans-serif;

$global-font-family : $serif;
$header-font-family : $sans-serif-narrow;


$link-color: CadetBlue;

$small                        : 400px;
$medium                       : 600px;
$medium-wide                  : 768px;
$large                        : 900px;
$x-large                      : 1024px;

$right-sidebar-width-narrow   : 125px !default;
$right-sidebar-width          : 150px !default;
$right-sidebar-width-wide     : 250px !default;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials
